/* table {
    width:100%;
}
table, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color: #fff;
}
table#t01 th {
    background-color: #35dc9e;
    color: white;
} */

.list-view{
    background: #2f242a8c;
    color: #fff;
}
.list-view:hover{
   text-decoration: underline;
   color: red;
}
.list-heading{
    color: #4261d4;
}
.simpos{
    color: #9c4c4c;
    font-size: 15px;
}