/* You can add global styles to this file, and also import other style files */
body{
    background: #32922ca6;
}
.text-align-center{
    text-align: center;
}
.control-label.required:after { 
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 5px;
    top:7px;
  }
